{% extends "::index.html.twig" %}

{% block title %}Contact{% endblock %}




{% block body %}
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Contact
                    <strong>Northern Plants</strong>
                </h2>
                <hr>
            </div>
            
            <div class="col-lg-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, vitae, distinctio, possimus repudiandae cupiditate ipsum excepturi dicta neque eaque voluptates tempora veniam esse earum sapiente optio deleniti consequuntur eos voluptatem.</p>
            </div>
            
            <div class="col-md-8">
                <div class="row">
                    {% if success %}
                        <div class="col-lg-12">
                            <div class="alert alert-success" role="alert">Email successfully sent.</div>
                        </div>
                    {% endif %}
                
                    {{ form_start(form) }}
                
                    <div class="form-group col-lg-4">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="form-group col-lg-4">
                        {{ form_label(form.emailAddress) }}
                        {{ form_widget(form.emailAddress) }}
                        {{ form_errors(form.emailAddress) }}
                    </div>
                    <div class="form-group col-lg-4">
                        {{ form_label(form.phoneNumber) }}
                        {{ form_widget(form.phoneNumber) }}
                        {{ form_errors(form.phoneNumber) }}
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message) }}
                    </div>
                    <div class="form-group col-lg-12">
                        {{ form_widget(form.save) }}
                    </div>
                    
                    {{ form_end(form) }}
                </div>
                
            </div>
            <div class="col-md-4">
                <p>Phone:
                    <strong>123.456.7890</strong>
                </p>
                <p>Email:
                    <strong><a href="mailto:name@example.com">name@example.com</a></strong>
                </p>
                <p>Address:
                    <strong>3481 Melrose Place
                        <br>Beverly Hills, CA 90210</strong>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
